osx_image: xcode12.2
language: objective-c

cache:
  cocoapods: true
  directories:
    - Carthage

script:
  - bundle exec fastlane ci

deploy:
  - provider: script
    script: bundle exec fastlane release
    skip_cleanup: true
    on:
      repo: fjcaetano/ReCaptcha
      tags: true
